{
    "presets": [
        "@babel/preset-flow",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ">1%"
                }
            }
        ],
        "@babel/preset-react",
        "@babel/preset-stage-0"
    ]
}